.content
{
	display: flex;
	align-items:center;
	height: auto;
}

.content .container{
	padding:0px 5px;
}

.product-box .row{
	display:flex;
	flex-flow:row wrap;
	flex-direction:row;
	padding:40px 0px;
	justify-content:center;	
}

.product-detail
{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	border-radius: 5px;
	max-width: 30%;
	box-shadow:0px 4px 8px rgba(0,0,0,0.2);
	margin:20px;
}

.product-detail > img
{
	width: 300px;
}

.product-detail .product-item-name
{
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #CD1F25;
	padding: 10px;
	margin-bottom: 10px;
}

.product-detail .product-item-price
{
	width: 100%;
	text-align: left;
	font-weight:bold;
}

.product-detail .product-item-price:before
{
	content: "$";
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}
